<h1>Add Product</h1>
<head>


</head>



<body style="background-color: rgb(254, 215, 255); font-family: Arial, Helvetica, sans-serif;">
    <form action="/add" method="POST">
    
        <input type="text" name="plantname" placeholder="Plant Name">
        <br><br>
        <input type="text" name="species" placeholder="Species">
        <br><br>
        <input type="text" name="manufacturer" placeholder="Manufacturer">
        <br><br>
        <input type="text" name="manufacturerlocation" placeholder="Location of Manufacturer">
        <br><br>
        <input type="text" name="price" placeholder="Price">
        <br><br>
        <input type="text" name="amountremaining" placeholder="Amount Remaining">
        <br><br>
        <input type="submit" value="submit">
    
    </form>
    </body>